.box {
    background-image: url(../first-background.jpg);
    background-repeat: no-repeat;
    width: fill;
    height: 700px;
    text-align: center;
    color: white;
}
img {
    float: middle;
}
h1 {
    text-align: center
}
h1 {
    color: white;
}
h2 {
    text-align: center;
}
h3 { 
    text-align: center;
}
h6 {
    text-align: center;
}
p { 
    text-align: center;
}
