.box {
    background-image: url(../first-background.jpg);
    background-repeat: no-repeat;
    width: fill;
    height: 700px;
    text-align: center;
    color: white;
}
h1 {
    text-align: center
}
h1 {
    color: white;
}
h2 {
    text-align: center;
}
.box2 {
    background-image: url(../mid-background.jpg);
    background-repeat: no-repeat;
    width: fill;
    height: 700px;
    text-align: center;
    color: white;
}
h3 { 
    text-align: center;
}
h6 {
    text-align: center;
}
.box3 {
    background-image: url(../dark-background.jpg);
    background-repeat: no-repeat;
    width: fill;
    height: 700px;
    text-align: center;
    color: white;
}
p { 
    text-align: center;
}
