.box {
    background-image: url(../first-background.jpg);
    background-repeat: no-repeat;
    width: fill;
    height: 700px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, 
    sans-serif;
}
h1 {
    text-align: center;
}
h1 {
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, 
    sans-serif;
}
h1 {
    color: white;
}
h2 {
    text-align: center;
}
h2 {
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, 
    sans-serif;
}
.box2 {
    background-image: url(../mid-background.jpg);
    background-repeat: no-repeat;
    width: fill;
    height: 700px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, 
    sans-serif;
}
.box7 {
    text-align: center;
}
h3 { 
    text-align: center;
}
h3 {
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, 
    sans-serif;
}
h6 {
    text-align: center;
}
h6 {
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, 
    sans-serif;
}
.box3 {
    background-image: url(../dark-background.jpg);
    background-repeat: no-repeat;
    width: fill;
    height: 700px;
    text-align: center;
    color: white;
    color:white;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, 
    sans-serif;
}
p { 
    text-align: center;
}
p {
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, 
    sans-serif;
}
input[type="text"]
{
    background: transparent;
    border-color: white;
    border-radius: 4px; 
}
::placeholder
  {
    color: white;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, 
    sans-serif;
}
textarea {
    background: transparent;
    border-color: white;
    border-radius: 4px;
}
.box5 {
    text-align:center;
}
.box4 {
    text-align: center;
}
